@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  position: relative;
  background: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
::selection {
  color: skyblue;
  background: whitesmoke;
}

.form {
  position: relative;
  background: lightgrey;
  width: 100%;
  max-width: 500px;
  border-radius: 12px;
  box-shadow: -3px 3px 10px -5px rgba(0, 0, 0, 0.2);
  padding: 30px 30px;
}

.form h2 {
  font-size: 30px;
  font-weight: 700;
}
.form p {
  font-size: 14px;
  padding-bottom: 8px;
}

.form form {
  margin: 8px 0;
}

.form form .error-text{

    color: red;
    padding: 4px 6px;
    text-align: center;
    border-radius: 4px;
    background-color: white;
    border: 1px solid white;
    margin-bottom: 8px;

}

.form .grid-details{

    display: flex;

}
.form .grid-details .input:first-child{
margin-right: 8px;
width: 100%;
    
}
.form .grid-details .input:last-child{
margin-left: 8px;
width: 100%;
    
}

